:root{
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --ocean: #404bbf;
    --white: #fff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --light-slate: #8E8F99;
}   


/* General */
body {
    font-family: "Roboto", sans-serif;
}
.list {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 30px;
    flex-wrap: wrap;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section .list {
    gap: 24px;
}

.about-item {
    flex-basis: calc(100% / 4 - 30px);
}


/* BODY */
/* HEADER */
.header {
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.mobile-nav {
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.h-flex {
    display: flex;
}
.header .h-flex {
    align-items: center;
}

.h-flex nav {
    padding: 0 24px;
}

.header .list{
    gap: 40px;
}
.contacts {
    list-style-type: none;
}
        /* Head Logo */
.top-logo {
    color: var(--navyblue);
    font-family: "Raleway";
    font-size: 18px;    
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}
.logo {
    color: var(--iris);
}
        /* Navbar */
.nav-list {
    text-decoration: none;
}
.nav-list:hover,
.nav-list:focus {
    cursor: pointer;
    color: var(--ocean);
}
.nav {
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.active {
    color: var(--ocean);
}
.active::after {
    content: " ";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--iris);
    position: relative;
    top: 19px;
}
.contact {
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

    /* mobile nav style */
.mobile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
}

.mobile-menu-container {
    position: relative;
    height: 100%;
}

.mobile-navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-menu {
    display: none;
}

.js-close-menu {
    position: absolute;
}

.close {
    top: 24px;
    left: 82%;
    margin: 24px;
}

.mobile-list {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}

.mobile-navbar ul {
    list-style-type: none;
}

.mobile-email {
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.mobile-soc-icon {
    justify-content: center;
    gap: 56px;
    margin-top: 48px;
}
    /* end mobile nav style */

/* END OF HEADER */


/* MAIN */
        /* Section Hero */
.hero-bg {
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-bck.jpg);
    color: var(--white);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
} 

.hero-text {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}
.hero-btn {
    font-family: 'Roboto';
    background-color: var(--iris);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
}
.hero-btn:hover {
    cursor: pointer;
    background-color: var(--ocean);
}
        /* modal styles */
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-content {
    background-color: var(--white);
    width: 408px;
    height: 584px;
    border-radius: 4px;
}
.is-hidden {
    pointer-events: none;
    opacity: 0;
}
.modal-close-btn,
.js-close-menu {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower);
    width: 24px;
    height: 24px;
    color: var(--slate);
    margin-left: auto;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    margin-top: 24px;
}
.modal-close-btn:hover {
    fill: currentColor;
    border: 1px solid currentColor;
}
.modal-content h2 {
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
    margin-top: 24px;
}
.input-label {
    color: var(--light-slate);
}
.os-label {
    display: flex;
    flex-direction: column;
    margin: 0px 24px 8px;
    position: relative;
}
.input-label {
    text-align: left;
    margin-bottom: 4px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}
.os-input {
    padding: 12px 40px;
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.os-icon {
    position: absolute;
    top: 55%;
    left: 15px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.os-input:focus+.os-icon,
.os-input:hover+.os-icon {
    fill: var(--iris);
}
.os-input:hover {
    border: 1px solid var(--iris);
}
.os-input-textarea {
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
}
textarea.os-input-textarea::-webkit-input-placeholder {
    color: rgba(46, 47, 66, 0.40);;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}
        /* agree styles */
.os-agree {
    display: flex;
    margin-top: 16px;
}
.os-agree-checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    left: 23px;
    opacity: 0;
}
.os-agree-check {
    fill: none;
    margin-right: 8px;
    border: 2px solid black;
    border-radius: 2px;
    transition: 250ms;
    transition-property: border-color, background-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.os-agree .os-agree-checkbox:focus+.os-agree-check,
.os-agree .os-agree-checkbox:checked:focus+.os-agree-check {
    outline: 2px solid #212121;
}
.os-agree .os-agree-checkbox:checked+.os-agree-check {
    background-color: var(--iris);
    border-color: var(--iris);
    fill: white;
    outline: none;
    stroke: white;
    stroke-width: 0.2;
}
.agree-text {
    font-family: inherit;
    color: var(--light-slate);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}
.agree-policy {
    color: var(--iris);
    line-height: 16px;
}
.modal-send {
    margin-top: 5px;
    padding: 16px 32px;
    background-color: var(--iris);
    color: var(--white);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
}
.modal-send:hover {
    cursor: pointer;
}
.os-send-btn {
    color: var(--white);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;        
    letter-spacing: 0.64px;
    display: flex;
    justify-content: center;
    width: 105px;
}
.modal-send:hover {
    cursor: pointer;
    background-color: var(--ocean);
}
        /* Section About What-we-do Team */
.section {
   padding-top: 120px;
   padding-bottom: 120px;
}
.what-we-do ul,
.about ul,
.team ul {
    display: flex;
    justify-content: center;
}
.about h3,
.team h3 {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
        /* Section About */
.about-icon {
    padding: 24px 0px;
    text-align: center;
    background-color: var(--cloud);
}

.about .list {
    margin-top: 120px;
    gap: 24px;
}

.about h3 {
    margin-top: 8px;
}

        /* Section Team */
.team {
    background: var(--cloud);
}
.list .list-team {
    background: var(--white);
    padding-bottom: 0px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-team img {
    width: 100%;
}
.team-details {
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
    gap: 8px;
    align-items: center;
}
.social-icon {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.team-social-icon {
    background-color: var(--iris);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-social-icon svg {
    fill: var(--cloud);
}
.team-name,
.text {
    margin: 0px;
}
.what-we-do h2,
.team h2,
.customers h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    margin: 0;
}
.sec-title {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    align-items: center;
}
.text {
    color: var(--slate);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.customers svg {
    fill: var(--light-slate);
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    padding: 16px 32px;
    width: ;
}
/* END OF MAIN */

    /* Porfolio Stylist */
.porfolio {
    margin-top: 96px;
    margin-bottom: 120px;
}
.porfolio-btn-list {
    display: flex;
    margin-bottom: 72px;
    gap: 24px;
    list-style: none;
    justify-content: center;
}

.porfolio button {
    font-family: inherit;
    color: var(--iris);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
}

.porfolio button:hover,
.porfolio button:focus {
    cursor: pointer;
    color: var(--white);
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.porfolio ul {
    width: 100%;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.porfolio li {
    border: 1px solid var(--cornflower);
    background: var(--white);
}
.porfolio li:hover,
.porfolio li:focus {
    cursor: pointer;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.porfolio li img {
    width: 100%;
}
.porfolio h3 {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.porfolio p {
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-top: 8px;
}
.porfolio-text {
    margin: 32px 0px;
    padding: 0px 16px;
}
.project-image {
    position: relative;
}
.project-image-caption{
    position: absolute;
    background-color: rgba(70, 90, 229, 1);
    color: var(--white);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover .project-image-caption {
    opacity: 1;
    transform: translateY(0);
}
.project {
    overflow: hidden;
}
.project-image {
    position: relative;
    overflow: hidden;
}
.project-image-caption p {
    color: var(--cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 296px;
    height: 96px;
    padding: 40px 32px 164px;
}
    /* End of Porfolio Styling */
/* FOOTER */
.footer-bg {
    background-color: var(--navyblue);
    padding-top: 101px;
    padding-bottom: 101px;
}

.logo-studio {
    color: var(--cloud);
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-web {
    color: var(--iris);
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .footer-logo {
    margin-right: 0;
    text-decoration: none;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 72px;
}

.logo-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer .team-social-icon {
    margin-right: 10px;
}

.footer-socialmed-text,
.footer-sub-text {
    margin-top: 0;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footer-email {
    border: 1px solid var(--white);
    background: none;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
    width: -webkit-fill-available;
    background-color: none;
    margin-bottom: 24px;
}

.footer-email::placeholder {
    color: var(--white);
}

.footer-btn {
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 8px 24px;
    gap: 16px;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.footer-btn svg{
    fill: var(--white);
}
/* END OF FOOTER */

/* CSS MEDIA QUERY */

@media (min-width: 428px) {
    /* 428px to 767 */
.container {
    width: 428px;
}
}

@media (min-width: 768px) {
    /* 768px to 1199px */
.container {
    width: 768px;
}

.mobile-nav {
    display: none;
}

.about-item,
.list-team,
.project {
    flex-basis: calc(100% / 2 - 30px);
}

.customer-icon {
    flex-basis: calc(100% / 3 - 30px);
}

.customer-icon {
    width: 100%;
}

.customer-icon {
    text-align: center;
}

.about ul {
    margin: 96px 0;
}

.footer {
    align-items: center;
}

.footer-email {
    width: 264px;
    margin-right: 24px;
}
}

@media (min-width: 1158px) {
    /* 1157px to Up */
.contacts {
    display: flex;
    column-gap: 30px;
}

.container {
    width: 1200px;
}

.about-item,
.list-team {
    flex-basis: calc(100% / 4 - 30px);
}

.customer-icon {
    flex-basis: calc(100% / 6 - 30px);
}

        /* porfolio style */
.project {
    flex-basis: calc(100% / 3 - 30px);
}
}

@media (max-width: 767px) {
    /* 767 to down */
.what-we-do,
.desktop-nav {
    display: none;
}

.about .list,
.team .list {
    gap: 72px;
}

.about ul {
    flex-direction: column;
    margin: 96px 16px;
}

.about-icon {
    display: none;
}

.about-item h3 {
    font-size: 36px;
    margin-bottom: 8px;
    text-align: center;
}

.about-item p {
    margin-top: 0;
}

.footer-content {
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-text {
    font-weight: 700;
    letter-spacing: 1.12px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
}

.logo-text {
    text-align: justify;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.js-close-menu {
    position: absolute;
}

.mobile-menu {
    top: 0;
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: var(--white);
    transform: translate(100%);
    transition: transform 250ms ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
    margin: 5rem 3rem;
    color: var(--navyblue);
}
    /* porfolio style */
.filter-list {
    flex-wrap: wrap;
    justify-content: start;
}

.porfolio ul {
    position: relative;
    z-index: -1;
}
}

@media (max-width: 1157px) {
    /* 1157px to down */
.what-we-do,
.about-icon {
    display: none;
}

.about-item h3 {
    font-size: 36px;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.footer-email {
    opacity: 0.3;
}
}
/* END OF MEDIA QUERY */